port: process.env.PORT or 3000
db:
	protocol: 'postgresql:'
	user: process.env.DB_USER
	password: process.env.DB_PASSWORD
	host: process.env.DB_HOST
	port: process.env.DB_PORT or 5432
	db: process.env.DB_NAME or if process.env.NODE_ENV is 'test' then 'tvrdim_dev_test' else 'tvrdim_dev'
	options: {}
redis:
	port: 6379
domain: process.env.DOMAIN ? "localhost:3000"
