body {
	background-color: #e2e2e2;
	max-width: 800px;
	margin: 0 auto;
	padding: 10px;
}

.content {
	flex-grow: 1;
	position: relative;
}

@import '../../statements/components/statement.scss';
@import '../../statements/components/statementList.scss';
