@import '../../util/style/input.scss';

a {
	text-decoration: none;
}
a:link, a:visited {
    color: $color-dark;
}
a:hover {
    color: $color-dark;
}
h3 {
	color: $color-grey;
}
p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}


html {
	width: 100%;
	height: 100%;
}
body {
	display: block;
	width: 100%;
	min-height: 100%;
	margin: 0;
}
#root {
	width: 100%;
	height: 100%;
	position: absolute;
}

.app {
	background-color: $main-bg-color;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	flex-grow: 1;
	background-color: $main-bg-color;
	padding: 8px;
	max-width: 720px;
	width: 100%;
}

.warning {
	margin: 0 auto;
	background-color: $color-yellow;
	padding: 16px;
	border-radius: 2px;
	color: $color-dark;
}

@import '../../header/components/header.scss';
@import '../../statements/components/statement.scss';
@import '../../statements/components/statementList.scss';
@import '../../statements/components/statementOpened.scss';
@import '../../statements/components/statementMenu.scss';
@import '../../statements/components/bar.scss';
@import '../../drawer/components/drawer.scss';
@import '../../util/style/button.scss';
@import '../../util/style/input.scss';
@import '../../util/style/icons.scss';
