@import '../../util/style/variables.scss';

.bar-container {
	display: flex;
	min-width: 90px;
	width: 26%;
	align-items: center;

	.num {
		margin: 5px;
		color: rgba(173, 173, 173, 0.78);

	}
	.bar {
		position: relative;
		flex-basis: 1;
		width: 80%;
		height: 10px;
		border: 1px solid rgba(173, 173, 173, 0.78);
		background-color: $button-colored;

		&.neutral {
			background-color: white;
		}

		.positive {
			height: 100%;
			background-color: green;
		}
		.center {
			height: 18px;
			position: absolute;
			border-right: 1px solid rgba(173, 173, 173, 0.78);
			left: 50%;
			top: -4px;
		}
	}
}