@import '../../util/style/variables.scss';

.statement {
	margin-bottom: 6px;
	background-color: #fff;
	padding: 10px 10px 0 10px;
	box-shadow: $shadow;

	.top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		.title {
			font-weight: bold;
		}
	}

	.childrenToggle {
		cursor: pointer;
		&.agree {
			float: right
		}
	}

	.actions {
		border-top: 1px solid rgba(0,0,0,.1);
	}

	.bar {
		position: relative;
		height: 3px;
		background-color: rgba(255, 51, 51, 0.78);
		&.accept {
			background-color: green;
			position: absolute;
		}
		&.neutral {
			background-color: rgba(173, 173, 173, 0.78);

		}
	}

	&.empty {
		padding: 10px;

		.top {
			width: 100%;
		}
	}
}
