@import '../../util/style/variables.scss';

.statementMenu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	.column {
		// flex-direction: column;
		// width: 50%;
	}

	.private:not(.disabled) {
		cursor: pointer;
	}
}
