.statement {
	margin-top: 4px;
	background-color: #f8f8f8;
	padding: 10px;
	clear: both;

	.title {
		margin-bottom: 10px;
		font-weight: bold;
	}
	.childrenToggle {
		cursor: pointer;
		&.approving {
			float: right
		}
	}

	&.approved.root {
		background-color: #bdffa3;
	}
	&.rejected {
		&.root {
			background-color: #ffa3a3;
		}
		&:not(.root) {
			opacity: 0.3;
		}
	}
}
