.statement-opened {

	width: 100%;

	.children {
		width: 100%;
		display: flex;
		flex-flow: row wrap;


		.children-disagree {
			margin-right: 32px;
		}

		.children-disagree, .children-agree {
			flex-direction: column;

			@media (min-width: $grid-desktop-breakpoint) {
				width: calc(50% - 16px);
			}
			@media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint) {
				width: 100%;
				margin-right: 0px;
			}
			@media (max-width: $grid-tablet-breakpoint) {
				width: 100%;
				margin-right: 0px;
			}
		}

	}


}
