@import '../../util/style/variables.scss';

.statement {
	display: flex;
	margin-bottom: 13px;
	background-color: #fff;
	box-shadow: $shadow;
	padding-right: 10px;

	.top {
		display: flex;
		width: 74%;
		justify-content: space-between;
		margin-bottom: 10px;

		.title {
			font-weight: bold;
			padding: 10px 10px 0 10px;
		}
	}

	.childrenToggle {
		cursor: pointer;
		&.agree {
			float: right
		}
	}

	.actions {
		border-top: 1px solid rgba(0,0,0,.1);
	}

	&.empty {
		padding: 10px;

		.top {
			width: 100%;
		}
	}
}
