.statement-list {

	margin-bottom: 10px;
	display: flex;

	&:not(.root) {
		flex-direction: column;
		margin: 8px;

		@media (min-width: $grid-desktop-breakpoint) {
			width: calc(50% - 16px);
		}

		@media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint) {
			width: 100%;
		}
	}

	&.root {
		width: 100%;
		flex-flow: row wrap;

	}


}
