@import '../../util/style/variables.scss';

.drawer {
	display: flex;
	flex-direction: column;
	width: 240px;
	height: 100%;
	max-height: 100%;
	position: absolute;
	flex-wrap: nowrap;
	top: 0;
	left: 0;
	box-shadow: $shadow;
	background-color: $color-dark;
	z-index: 1;

	.drawer-header {
		padding: 16px;
		height: 151px;
		display: flex;
		justify-content: flex-end;
		color: $color-grey-light;
	}
}
