@import '../../util/style/variables.scss';

.drawer {
	display: flex;
	display: none;
	flex-direction: column;
	width: 240px;
	height: 100%;
	max-height: 100%;
	position: absolute;
	flex-wrap: nowrap;
	top: 0;
	left: 0;
	box-shadow: $shadow;
	background-color: $color-dark;
	z-index: 1;

	.drawer-header {
		padding: 16px;
		height: 151px;
		display: flex;
		justify-content: flex-end;
		color: $color-grey-light;
	}

	.drawer-nav {
		background-color: $color-dark-2;
		padding-top: 16px;
		flex-grow: 1;

		.nav-item {
			display: flex !important;
			color: $color-grey-2;
			flex-shrink: 0;
			line-height: 24px;
			opacity: .87;
			flex-direction: row;
			align-items: center;
			font-weight: 500;
			padding: 16px;
		}
	}
}
