@import '../../util/style/variables.scss';

.header {
	display: flex;
	min-height: 56px;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	box-sizing: border-box;
	width: 100%;
	box-shadow: $shadow;
	margin-bottom: 3px;

	.row {
		height: 56px;
		padding: 0 16px 0 72px;
		color: $color-grey;
		letter-spacing: .02em;
		font-weight: font-weight;
		font-size: 20px;
		align-item: center;
		display: flex;
	}
}
